[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
eel = "*"
playsound = "==1.2.2"
pyttsx3 = "*"
speechrecognition = "*"
pvporcupine = "*"

[dev-packages]

[requires]
python_version = "3.11"
