[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
eel = "*"
playsound = "==1.2.2"
pyttsx3 = "*"
edge-tts = "==7.2.8"
speechrecognition = "*"
vosk = "==0.3.45"
pywhatkit = "*"
pyaudio = "*"
huggingface_hub = "==2.0.0"
beautifulsoup4 = "*"
requests = "*"
pyperclip = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
